*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(58, 58, 58);
}

.cubo{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotatex(-30deg);
    animation: animate 4s linear infinite;
}

.cubo div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cubo div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #151515;
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
    border: #000 solid 2px;
}

.cubo div span span{
    position: relative;
    display: inline-block;
    width: 30%;
    height: 30%;
    margin: 1% 1%;
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}


.cubo div div{
    position: relative;
    display: inline-block;
    width: 30%;
    height: 30%;
    margin: 1% 1%;
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}

@keyframes animate {
    0%
    {
        transform: rotateX(-50deg) rotateY(360deg);
    }
    50%
    {
        transform: rotateX(50deg) rotateY(10deg);
    }
    100%
    {
        transform: rotateX(-50deg) rotateY(-360deg);
    } 
}

.topo{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotatex(90deg) translatez(150px);
}

.bottom{
    position: absolute;
    top: 400px;
    left: 0px;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotatex(90deg) translatez(-150px);
}

#red{
    background: red;
}

#yellow{
    background: yellow;
}

#blue{
    background: blue;
}

#green{
    background: green;
}

#white{
    background: white;
}

#orange{
    background: orange;
}